/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*real deal*/
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #76b852;
    position: relative;
}
.login_box{
    padding:45px;
    text-align: center;
    line-height: 50px;
    margin: 125px auto;
    width: 350px;
    background-color: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    /* border: 1px solid; */
}
.title{
    font-size: 20px;
    font-weight: 500;
    color: grey;
}
.exception{
    font-size: 12px;
    color: grey;
    text-decoration: none;
}

.button{
    display: block;
    background: #4CAF50;
    color: azure;
    line-height: 100%;
    /* padding: 15px 0; */
    border: 0;
    cursor: pointer;
}

.input-field{
    display: block;
    border:0;
    background-color: #b3b3b3;
    color: white;
}

.item{
    margin-bottom: 10px;
    width: 100%;
    height: 45px;
}

.exception-link{
    text-decoration: none;
    color: #4CAF50;
}

.button:hover,.button:active,.button:focus {
    background: #43A047;
  }
  .exception-link:hover{
      color: #43A047;
  }